body{
    background-color:lightcyan;
    color:black;
  
}
.Introduction{
    column-count:4;
    column-rule-style: dashed;
column-gap: 10px;
width:1400px;
height:auto;
}

::selection {

background-color: brown;
color:red;
}

.intro2{
    width:1400px;
    height:auto;
    font-size:18px;
    font-weight: 600;
    text-transform: capitalize;
    padding:18px;
    margin:10px;
    border:100px;
}

#demo{
    width:1400px;
    font-size:17px;
}